body {
  display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.calculator {
  background-color: rgb(90, 83, 153);
  padding: 20px;
  border-radius: 10px;
  width: 320px;
}

.display {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 24px;
  border: none;
  background-color: #ffffff;
  color: rgb(53, 20, 173);
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  padding: 15px;
  font-size: 20px;
  border: none;
  background-color: #a6a5db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}



.Instruction {
  /* This ensures the text has some space below the calculator */
  margin-top: 20px; 
  display: flex;
  flex-direction: column; /* Stacks the list items vertically too */
  justify-content: center;
  align-items: center;
  padding: 20px;
font-family: 'Courier';
font-weight: Bold;
text-align: center;
}